
      <div class="about">
        <div class="about-text">
          <h2>C-fan!</h2><br>
          C-fan!ではたくさんの人の創作を見ることができます<br>
          イラスト・小説・写真・手芸…様々なジャンルの作品が投稿されています<br>
          あなたの好きな創作は何ですか？<br>
          会員登録をして作品を投稿すると、いいねやコメントが送られてくるかもしれません<br>
          C-fan!は全ての人の創作活動を応援しています<br>
          ぜひ、あなたの才能を披露してください！<br>
          きっと、誰かがあなたのファンです
        </div>

        <h3 class="about-user-text">会員登録するとこんな機能が使えます</h3>
        <div class="about-boxs">
          <div class="about-box">
            <h3>1.いいね機能が使える</h3>
            <span class="glyphicon glyphicon-heart about-aicon" aria-hidden="true"></span>
            <h4>
              気に入った作品に<br>いいねすることができます<br>
              いいねした作品を<br>まとめて閲覧しましょう
            </h4>
          </div>
          <div class="about-box">
            <h3>2.コメントができる</h3>
            <span class="glyphicon glyphicon-comment about-aicon" aria-hidden="true"></span>
            <h4>
              感動した作品には<br>コメントを残して作者に<br>気持ちを伝えましょう<br>
              その言葉が誰かの<br>原動力になります！
            </h4>
          </div>
          <div class="about-box1">
            <h3>3.作品を投稿できる</h3>
            <span class="glyphicon glyphicon-edit about-aicon" aria-hidden="true"></span>
            <h4>
              あなたも一人の<br>クリエイターです！<br>
              作品を公開してあなたの<br>才能を見せてください
            </h4>
          </div>
        </div>
      </div>

